<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register for 3RAW</title>
    <meta charset="UTF-8">
</head>
<body >
    <td >  <%-ten%></div></td>
    <td > <div align="left"><%-thoat%></div></td>
</body>